@media (min-width: 768px), (min-width: 1280px) {
	body {height: 100vh;}
	
	header {
		flex-direction: row;
		justify-content: space-between;
	}

  .logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 11rem 0 2rem;
  }
  
  .logo::after {
    content: 'her';
    letter-spacing: -15px;
    position: absolute;
    font-size: 10rem;
    left: 0;
    opacity: .3;
    z-index: 1;
    transition: 1s;
  }

  .logo:hover::after {
    letter-spacing: 0px;
  }
  
	.tagline {
    margin: 0 2rem 0 0;
  }

	nav {
		height: 100%;
		grid-column: 1 / 3;
		grid-row: 2 / 4;
		flex-direction: column;
	}

	nav a:before {
		transition: opacity .2s;
		content: '';
		position: absolute;
		top: -5px;
		font-size: 3rem;
		display: none;
		opacity: .3;
	}

	nav a:hover:before {
		display: block;
	}
	
	nav a:first-child:before {
		content: 'home';
	}
	
	nav a:nth-child(2)::before {
		content: 'story';
	}
	
	nav a:nth-child(3)::before {
		content: 'cast';
	}
	
	nav a:nth-child(4)::before {
		content: 'trailer';
	}

	nav a:after {
		content: '·';
		display: none;
		font-size: 2rem;
		position: absolute;
		bottom: -3px;
	}
	
	nav a:hover:after {
		display: block;
	}

	main {
		grid-column: 3 / 13;
		grid-row: 2/5;
    overflow-y: scroll;
	}

  main section {
		min-height: 600px;
		padding: 2rem;
		margin-bottom: 0;
	}

  #hero q {
		font-size: 3.5rem;
		letter-spacing: -4px
	}

  #hero q::before {
    word-spacing: 5px;
    animation: typeQuote 5s forwards;
    content: '';
  }

  #story p { font-size: 2rem; }

	.cast-members .actor,
	.credit .actor {
		font-size: 2rem;
	}

	#cast .cast-members,
.credit {
	flex-direction: row;
	flex-wrap: wrap;
}

  #trailer div iframe { height: 30rem; }
  
  @keyframes typeQuote {
    0% { content: ''}
    10% { content: "There's something" }
    16% { content: "There's something that" }
    32% { content: "There's something that feels so" }
    48% { content: "There's something that feels so good"}
    64% { content: "There's something that feels so good about sharing"}
    80% { content: "There's something that feels so good about sharing your life"}
    90% { content: "There's something that feels so good about sharing your with somebody"}
    95% { content: "There's something that feels so good about sharing your with somebody"}
    96% { content: "There's something that feels so good about sharing your with somebody."}
    100% { content: "There's something that feels so good about sharing your with somebody."}
  }

	footer {
		grid-column: 1 / 3;
	}
}